[submodule "packages/pmacc/thirdParty/alpaka"]
	path = packages/pmacc/thirdParty/alpaka
	url = https://github.com/alpaka-group/alpaka3
	branch = dev
[submodule "packages/pmacc/thirdParty/mallocMC"]
	path = packages/pmacc/thirdParty/mallocMC
	url = https://github.com/ikbuibui/mallocMC.git
	branch = mallocMC-alpaka3
